@import 'mixin.scss';
.userCardWrapper {
  width: 200px;
  height: 320px;
}

.cardsList {
  @include for-tablet-up {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}
