@import 'mixin.scss';

.sectionWrapper {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  background: url(../../../ui/banner-photo.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include for-phone-only {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
  @include for-tablet-only {
    height: 500px;
    align-items: center;
    justify-content: start;
    padding: 30px;
  }
  @include for-desktop-up {
    justify-content: start;
    align-items: center;
    height: 600px;
    text-align: left;
    padding: 30px;
  }

  .sectionTitle {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: -1px;
    @include for-phone-only {
      width: 301px;
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 29px;
    }
    @include for-tablet-only {
      width: 403px;
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 39px;
    }
    @include for-desktop-up {
      width: 501px;
      font-size: 50px;
      line-height: 54px;
      margin-bottom: 39px;
    }
  }
}

.sectionDescription {
  box-sizing: content-box;
  width: 100%;
  @include for-phone-only {
    width: 327px;
    height: 65px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
  }
  @include for-tablet-only {
    width: 449px;
    margin-bottom: 39px;
  }
  @include for-desktop-up {
    width: 529px;
    margin-bottom: 39px;
  }
}
